<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>top_category</key>
	<array>
		<dict>
			<key>id</key>
			<string>104297</string>
			<key>name</key>
			<string>集合与常用逻辑用语</string>
			<key>second_category</key>
			<array>
				<dict>
					<key>id</key>
					<string>104298</string>
					<key>knowledge</key>
					<array>
						<dict>
							<key>id</key>
							<string>25002</string>
							<key>name</key>
							<string>集合的含义</string>
							<key>type</key>
							<string>10</string>
						</dict>
						<dict>
							<key>id</key>
							<string>25003</string>
							<key>name</key>
							<string>元素与集合关系的判断</string>
							<key>type</key>
							<string>10</string>
						</dict>
						<dict>
							<key>id</key>
							<string>25004</string>
							<key>name</key>
							<string>元素的确定性、互异性、无序性</string>
							<key>type</key>
							<string>10</string>
						</dict>
						<dict>
							<key>id</key>
							<string>25005</string>
							<key>name</key>
							<string>集合的分类</string>
							<key>type</key>
							<string>10</string>
						</dict>
						<dict>
							<key>id</key>
							<string>25006</string>
							<key>name</key>
							<string>集合的表示法</string>
							<key>type</key>
							<string>10</string>
						</dict>
						<dict>
							<key>id</key>
							<string>25007</string>
							<key>name</key>
							<string>子集与真子集</string>
							<key>type</key>
							<string>10</string>
						</dict>
					</array>
					<key>name</key>
					<string>集合的含义与表示</string>
					<key>type</key>
					<string>2</string>
				</dict>
				<dict>
					<key>id</key>
					<string>104299</string>
					<key>knowledge</key>
					<array>
						<dict>
							<key>id</key>
							<string>25008</string>
							<key>name</key>
							<string>集合的包含关系判断及应用</string>
							<key>type</key>
							<string>10</string>
						</dict>
						<dict>
							<key>id</key>
							<string>25009</string>
							<key>name</key>
							<string>集合的相等</string>
							<key>type</key>
							<string>10</string>
						</dict>
						<dict>
							<key>id</key>
							<string>25010</string>
							<key>name</key>
							<string>集合子集的确定及真子集的个数</string>
							<key>type</key>
							<string>10</string>
						</dict>
						<dict>
							<key>id</key>
							<string>25011</string>
							<key>name</key>
							<string>空集的定义、性质及运算</string>
							<key>type</key>
							<string>10</string>
						</dict>
						<dict>
							<key>id</key>
							<string>25012</string>
							<key>name</key>
							<string>集合关系中的参数取值问题</string>
							<key>type</key>
							<string>10</string>
						</dict>
					</array>
					<key>name</key>
					<string>集合间的基本关系</string>
					<key>type</key>
					<string>2</string>
				</dict>
				<dict>
					<key>id</key>
					<string>104300</string>
					<key>knowledge</key>
					<array>
						<dict>
							<key>id</key>
							<string>96163</string>
							<key>name</key>
							<string>常用数集</string>
							<key>type</key>
							<string>10</string>
						</dict>
						<dict>
							<key>id</key>
							<string>25013</string>
							<key>name</key>
							<string>并集及其运算</string>
							<key>type</key>
							<string>10</string>
						</dict>
						<dict>
							<key>id</key>
							<string>25014</string>
							<key>name</key>
							<string>交集及其运算</string>
							<key>type</key>
							<string>10</string>
						</dict>
						<dict>
							<key>id</key>
							<string>25015</string>
							<key>name</key>
							<string>补集及其运算</string>
							<key>type</key>
							<string>10</string>
						</dict>
						<dict>
							<key>id</key>
							<string>25016</string>
							<key>name</key>
							<string>全集及其运算</string>
							<key>type</key>
							<string>10</string>
						</dict>
						<dict>
							<key>id</key>
							<string>25017</string>
							<key>name</key>
							<string>交、并、补集的混合运算</string>
							<key>type</key>
							<string>10</string>
						</dict>
						<dict>
							<key>id</key>
							<string>25018</string>
							<key>name</key>
							<string>子集与交集、并集运算的转换</string>
							<key>type</key>
							<string>10</string>
						</dict>
						<dict>
							<key>id</key>
							<string>25019</string>
							<key>name</key>
							<string>Venn图表达集合的关系及运算</string>
							<key>type</key>
							<string>10</string>
						</dict>
					</array>
					<key>name</key>
					<string>集合的基本运算</string>
					<key>type</key>
					<string>2</string>
				</dict>
				<dict>
					<key>id</key>
					<string>104301</string>
					<key>knowledge</key>
					<array>
						<dict>
							<key>id</key>
							<string>25021</string>
							<key>name</key>
							<string>四种命题</string>
							<key>type</key>
							<string>10</string>
						</dict>
						<dict>
							<key>id</key>
							<string>25022</string>
							<key>name</key>
							<string>四种命题间的逆否关系</string>
							<key>type</key>
							<string>10</string>
						</dict>
						<dict>
							<key>id</key>
							<string>25023</string>
							<key>name</key>
							<string>四种命题的真假关系</string>
							<key>type</key>
							<string>10</string>
						</dict>
					</array>
					<key>name</key>
					<string>命题及其关系</string>
					<key>type</key>
					<string>2</string>
				</dict>
				<dict>
					<key>id</key>
					<string>104302</string>
					<key>knowledge</key>
					<array>
						<dict>
							<key>id</key>
							<string>25024</string>
							<key>name</key>
							<string>充分条件</string>
							<key>type</key>
							<string>10</string>
						</dict>
						<dict>
							<key>id</key>
							<string>25025</string>
							<key>name</key>
							<string>必要条件</string>
							<key>type</key>
							<string>10</string>
						</dict>
						<dict>
							<key>id</key>
							<string>25026</string>
							<key>name</key>
							<string>充要条件</string>
							<key>type</key>
							<string>10</string>
						</dict>
					</array>
					<key>name</key>
					<string>充分条件与必要条件</string>
					<key>type</key>
					<string>2</string>
				</dict>
				<dict>
					<key>id</key>
					<string>104303</string>
					<key>knowledge</key>
					<array>
						<dict>
							<key>id</key>
							<string>25027</string>
							<key>name</key>
							<string>逻辑联结词“或”</string>
							<key>type</key>
							<string>10</string>
						</dict>
						<dict>
							<key>id</key>
							<string>25028</string>
							<key>name</key>
							<string>逻辑联结词“且”</string>
							<key>type</key>
							<string>10</string>
						</dict>
						<dict>
							<key>id</key>
							<string>25029</string>
							<key>name</key>
							<string>逻辑联结词“非”</string>
							<key>type</key>
							<string>10</string>
						</dict>
						<dict>
							<key>id</key>
							<string>25030</string>
							<key>name</key>
							<string>复合命题</string>
							<key>type</key>
							<string>10</string>
						</dict>
						<dict>
							<key>id</key>
							<string>25031</string>
							<key>name</key>
							<string>复合命题的真假</string>
							<key>type</key>
							<string>10</string>
						</dict>
					</array>
					<key>name</key>
					<string>简单的逻辑联结词</string>
					<key>type</key>
					<string>2</string>
				</dict>
				<dict>
					<key>id</key>
					<string>104304</string>
					<key>knowledge</key>
					<array>
						<dict>
							<key>id</key>
							<string>25032</string>
							<key>name</key>
							<string>全称量词</string>
							<key>type</key>
							<string>10</string>
						</dict>
						<dict>
							<key>id</key>
							<string>25033</string>
							<key>name</key>
							<string>存在量词</string>
							<key>type</key>
							<string>10</string>
						</dict>
						<dict>
							<key>id</key>
							<string>25034</string>
							<key>name</key>
							<string>全称命题</string>
							<key>type</key>
							<string>10</string>
						</dict>
						<dict>
							<key>id</key>
							<string>25035</string>
							<key>name</key>
							<string>特称命题</string>
							<key>type</key>
							<string>10</string>
						</dict>
					</array>
					<key>name</key>
					<string>全称量词与存在量词</string>
					<key>type</key>
					<string>2</string>
				</dict>
				<dict>
					<key>id</key>
					<string>104305</string>
					<key>knowledge</key>
					<array>
						<dict>
							<key>id</key>
							<string>25036</string>
							<key>name</key>
							<string>命题的否定</string>
							<key>type</key>
							<string>10</string>
						</dict>
						<dict>
							<key>id</key>
							<string>25037</string>
							<key>name</key>
							<string>命题的真假判断与应用</string>
							<key>type</key>
							<string>10</string>
						</dict>
						<dict>
							<key>id</key>
							<string>25038</string>
							<key>name</key>
							<string>必要条件、充分条件与充要条件的判断</string>
							<key>type</key>
							<string>10</string>
						</dict>
					</array>
					<key>name</key>
					<string>命题判断</string>
					<key>type</key>
					<string>2</string>
				</dict>
			</array>
			<key>type</key>
			<string>1</string>
		</dict>
		<dict>
			<key>id</key>
			<string>104306</string>
			<key>name</key>
			<string>函数、导数及其应用</string>
			<key>second_category</key>
			<array>
				<dict>
					<key>id</key>
					<string>104307</string>
					<key>knowledge</key>
					<array>
						<dict>
							<key>id</key>
							<string>25040</string>
							<key>name</key>
							<string>函数的概念及其构成要素</string>
							<key>type</key>
							<string>10</string>
						</dict>
						<dict>
							<key>id</key>
							<string>25041</string>
							<key>name</key>
							<string>判断两个函数是否为同一函数</string>
							<key>type</key>
							<string>10</string>
						</dict>
						<dict>
							<key>id</key>
							<string>25042</string>
							<key>name</key>
							<string>函数的定义域及其求法</string>
							<key>type</key>
							<string>10</string>
						</dict>
						<dict>
							<key>id</key>
							<string>25043</string>
							<key>name</key>
							<string>函数的值域及其求法</string>
							<key>type</key>
							<string>10</string>
						</dict>
						<dict>
							<key>id</key>
							<string>25044</string>
							<key>name</key>
							<string>函数的图象与图象变化</string>
							<key>type</key>
							<string>10</string>
						</dict>
						<dict>
							<key>id</key>
							<string>25045</string>
							<key>name</key>
							<string>函数解析式的求解及常用方法</string>
							<key>type</key>
							<string>10</string>
						</dict>
						<dict>
							<key>id</key>
							<string>25046</string>
							<key>name</key>
							<string>区间与无穷的概念</string>
							<key>type</key>
							<string>10</string>
						</dict>
						<dict>
							<key>id</key>
							<string>25047</string>
							<key>name</key>
							<string>函数的表示方法</string>
							<key>type</key>
							<string>10</string>
						</dict>
						<dict>
							<key>id</key>
							<string>25048</string>
							<key>name</key>
							<string>函数的对应法则</string>
							<key>type</key>
							<string>10</string>
						</dict>
						<dict>
							<key>id</key>
							<string>25049</string>
							<key>name</key>
							<string>函数图象的作法</string>
							<key>type</key>
							<string>10</string>
						</dict>
						<dict>
							<key>id</key>
							<string>25050</string>
							<key>name</key>
							<string>分段函数的解析式求法及其图象的作法</string>
							<key>type</key>
							<string>10</string>
						</dict>
						<dict>
							<key>id</key>
							<string>25051</string>
							<key>name</key>
							<string>映射</string>
							<key>type</key>
							<string>10</string>
						</dict>
						<dict>
							<key>id</key>
							<string>25052</string>
							<key>name</key>
							<string>函数的单调性及单调区间</string>
							<key>type</key>
							<string>10</string>
						</dict>
						<dict>
							<key>id</key>
							<string>25053</string>
							<key>name</key>
							<string>函数单调性的判断与证明</string>
							<key>type</key>
							<string>10</string>
						</dict>
						<dict>
							<key>id</key>
							<string>25054</string>
							<key>name</key>
							<string>函数单调性的性质</string>
							<key>type</key>
							<string>10</string>
						</dict>
						<dict>
							<key>id</key>
							<string>25055</string>
							<key>name</key>
							<string>复合函数的单调性</string>
							<key>type</key>
							<string>10</string>
						</dict>
						<dict>
							<key>id</key>
							<string>25056</string>
							<key>name</key>
							<string>函数的最值及其几何意义</string>
							<key>type</key>
							<string>10</string>
						</dict>
						<dict>
							<key>id</key>
							<string>25057</string>
							<key>name</key>
							<string>奇函数</string>
							<key>type</key>
							<string>10</string>
						</dict>
						<dict>
							<key>id</key>
							<string>25058</string>
							<key>name</key>
							<string>偶函数</string>
							<key>type</key>
							<string>10</string>
						</dict>
						<dict>
							<key>id</key>
							<string>25059</string>
							<key>name</key>
							<string>函数奇偶性的判断</string>
							<key>type</key>
							<string>10</string>
						</dict>
						<dict>
							<key>id</key>
							<string>25060</string>
							<key>name</key>
							<string>函数奇偶性的性质</string>
							<key>type</key>
							<string>10</string>
						</dict>
						<dict>
							<key>id</key>
							<string>25061</string>
							<key>name</key>
							<string>奇偶函数图象的对称性</string>
							<key>type</key>
							<string>10</string>
						</dict>
						<dict>
							<key>id</key>
							<string>25062</string>
							<key>name</key>
							<string>奇偶性与单调性的综合</string>
							<key>type</key>
							<string>10</string>
						</dict>
						<dict>
							<key>id</key>
							<string>25063</string>
							<key>name</key>
							<string>函数的图象</string>
							<key>type</key>
							<string>10</string>
						</dict>
						<dict>
							<key>id</key>
							<string>119152</string>
							<key>name</key>
							<string>分段函数的单调性</string>
							<key>type</key>
							<string>10</string>
						</dict>
						<dict>
							<key>id</key>
							<string>25064</string>
							<key>name</key>
							<string>抽象函数及其应用</string>
							<key>type</key>
							<string>10</string>
						</dict>
						<dict>
							<key>id</key>
							<string>25065</string>
							<key>name</key>
							<string>函数的周期性</string>
							<key>type</key>
							<string>10</string>
						</dict>
						<dict>
							<key>id</key>
							<string>25066</string>
							<key>name</key>
							<string>函数恒成立问题</string>
							<key>type</key>
							<string>10</string>
						</dict>
						<dict>
							<key>id</key>
							<string>25067</string>
							<key>name</key>
							<string>函数的连续性</string>
							<key>type</key>
							<string>10</string>
						</dict>
						<dict>
							<key>id</key>
							<string>25068</string>
							<key>name</key>
							<string>函数的值</string>
							<key>type</key>
							<string>10</string>
						</dict>
					</array>
					<key>name</key>
					<string>函数的概念与性质</string>
					<key>type</key>
					<string>2</string>
				</dict>
				<dict>
					<key>id</key>
					<string>25073</string>
					<key>knowledge</key>
					<array>
						<dict>
							<key>id</key>
							<string>25069</string>
							<key>name</key>
							<string>一次函数的性质与图象</string>
							<key>type</key>
							<string>10</string>
						</dict>
						<dict>
							<key>id</key>
							<string>25070</string>
							<key>name</key>
							<string>二次函数的图象</string>
							<key>type</key>
							<string>10</string>
						</dict>
						<dict>
							<key>id</key>
							<string>25071</string>
							<key>name</key>
							<string>二次函数的性质</string>
							<key>type</key>
							<string>10</string>
						</dict>
						<dict>
							<key>id</key>
							<string>25072</string>
							<key>name</key>
							<string>二次函数在闭区间上的最值</string>
							<key>type</key>
							<string>10</string>
						</dict>
						<dict>
							<key>id</key>
							<string>25074</string>
							<key>name</key>
							<string>整数指数幂</string>
							<key>type</key>
							<string>10</string>
						</dict>
						<dict>
							<key>id</key>
							<string>25075</string>
							<key>name</key>
							<string>方根与根式及根式的化简运算</string>
							<key>type</key>
							<string>10</string>
						</dict>
						<dict>
							<key>id</key>
							<string>25076</string>
							<key>name</key>
							<string>分数指数幂</string>
							<key>type</key>
							<string>10</string>
						</dict>
						<dict>
							<key>id</key>
							<string>25077</string>
							<key>name</key>
							<string>根式与分数指数幂的互化及其化简运算</string>
							<key>type</key>
							<string>10</string>
						</dict>
						<dict>
							<key>id</key>
							<string>25078</string>
							<key>name</key>
							<string>有理数指数幂的运算性质</string>
							<key>type</key>
							<string>10</string>
						</dict>
						<dict>
							<key>id</key>
							<string>25079</string>
							<key>name</key>
							<string>有理数指数幂的化简求值</string>
							<key>type</key>
							<string>10</string>
						</dict>
						<dict>
							<key>id</key>
							<string>25080</string>
							<key>name</key>
							<string>指数型复合函数的性质及应用</string>
							<key>type</key>
							<string>10</string>
						</dict>
						<dict>
							<key>id</key>
							<string>25081</string>
							<key>name</key>
							<string>指数函数的定义、解析式、定义域和值域</string>
							<key>type</key>
							<string>10</string>
						</dict>
						<dict>
							<key>id</key>
							<string>25082</string>
							<key>name</key>
							<string>指数函数的图像与性质</string>
							<key>type</key>
							<string>10</string>
						</dict>
						<dict>
							<key>id</key>
							<string>25083</string>
							<key>name</key>
							<string>指数函数的图像变换</string>
							<key>type</key>
							<string>10</string>
						</dict>
						<dict>
							<key>id</key>
							<string>25084</string>
							<key>name</key>
							<string>指数函数的单调性与特殊点</string>
							<key>type</key>
							<string>10</string>
						</dict>
						<dict>
							<key>id</key>
							<string>25085</string>
							<key>name</key>
							<string>指数函数单调性的应用</string>
							<key>type</key>
							<string>10</string>
						</dict>
						<dict>
							<key>id</key>
							<string>25086</string>
							<key>name</key>
							<string>指数函数的实际应用</string>
							<key>type</key>
							<string>10</string>
						</dict>
						<dict>
							<key>id</key>
							<string>25087</string>
							<key>name</key>
							<string>指数函数综合题</string>
							<key>type</key>
							<string>10</string>
						</dict>
						<dict>
							<key>id</key>
							<string>25088</string>
							<key>name</key>
							<string>对数的概念</string>
							<key>type</key>
							<string>10</string>
						</dict>
						<dict>
							<key>id</key>
							<string>25089</string>
							<key>name</key>
							<string>指数式与对数式的互化</string>
							<key>type</key>
							<string>10</string>
						</dict>
						<dict>
							<key>id</key>
							<string>25090</string>
							<key>name</key>
							<string>对数的运算性质</string>
							<key>type</key>
							<string>10</string>
						</dict>
						<dict>
							<key>id</key>
							<string>25091</string>
							<key>name</key>
							<string>换底公式与自然对数的应用</string>
							<key>type</key>
							<string>10</string>
						</dict>
						<dict>
							<key>id</key>
							<string>25092</string>
							<key>name</key>
							<string>对数函数的定义</string>
							<key>type</key>
							<string>10</string>
						</dict>
						<dict>
							<key>id</key>
							<string>25093</string>
							<key>name</key>
							<string>对数函数的定义域</string>
							<key>type</key>
							<string>10</string>
						</dict>
						<dict>
							<key>id</key>
							<string>25094</string>
							<key>name</key>
							<string>对数函数的值域与最值</string>
							<key>type</key>
							<string>10</string>
						</dict>
						<dict>
							<key>id</key>
							<string>25095</string>
							<key>name</key>
							<string>对数值大小的比较</string>
							<key>type</key>
							<string>10</string>
						</dict>
						<dict>
							<key>id</key>
							<string>25096</string>
							<key>name</key>
							<string>对数函数的图像与性质</string>
							<key>type</key>
							<string>10</string>
						</dict>
						<dict>
							<key>id</key>
							<string>25097</string>
							<key>name</key>
							<string>对数函数的单调性与特殊点</string>
							<key>type</key>
							<string>10</string>
						</dict>
						<dict>
							<key>id</key>
							<string>25098</string>
							<key>name</key>
							<string>对数函数的单调区间</string>
							<key>type</key>
							<string>10</string>
						</dict>
						<dict>
							<key>id</key>
							<string>25099</string>
							<key>name</key>
							<string>指数函数与对数函数的关系</string>
							<key>type</key>
							<string>10</string>
						</dict>
						<dict>
							<key>id</key>
							<string>25101</string>
							<key>name</key>
							<string>求对数函数解析式</string>
							<key>type</key>
							<string>10</string>
						</dict>
						<dict>
							<key>id</key>
							<string>25102</string>
							<key>name</key>
							<string>对数函数图象与性质的综合应用</string>
							<key>type</key>
							<string>10</string>
						</dict>
						<dict>
							<key>id</key>
							<string>25100</string>
							<key>name</key>
							<string>反函数</string>
							<key>type</key>
							<string>10</string>
						</dict>
						<dict>
							<key>id</key>
							<string>25103</string>
							<key>name</key>
							<string>幂函数的概念、解析式、定义域、值域</string>
							<key>type</key>
							<string>10</string>
						</dict>
						<dict>
							<key>id</key>
							<string>25104</string>
							<key>name</key>
							<string>幂函数的图像</string>
							<key>type</key>
							<string>10</string>
						</dict>
						<dict>
							<key>id</key>
							<string>25105</string>
							<key>name</key>
							<string>幂函数图象及其与指数的关系</string>
							<key>type</key>
							<string>10</string>
						</dict>
						<dict>
							<key>id</key>
							<string>25106</string>
							<key>name</key>
							<string>幂函数的性质</string>
							<key>type</key>
							<string>10</string>
						</dict>
						<dict>
							<key>id</key>
							<string>25107</string>
							<key>name</key>
							<string>幂函数的单调性、奇偶性及其应用</string>
							<key>type</key>
							<string>10</string>
						</dict>
						<dict>
							<key>id</key>
							<string>25108</string>
							<key>name</key>
							<string>幂函数的实际应用</string>
							<key>type</key>
							<string>10</string>
						</dict>
						<dict>
							<key>id</key>
							<string>25109</string>
							<key>name</key>
							<string>基本初等函数的综合应用</string>
							<key>type</key>
							<string>10</string>
						</dict>
					</array>
					<key>name</key>
					<string>基本初等函数</string>
					<key>type</key>
					<string>2</string>
				</dict>
				<dict>
					<key>id</key>
					<string>104308</string>
					<key>knowledge</key>
					<array>
						<dict>
							<key>id</key>
							<string>118895</string>
							<key>name</key>
							<string>函数的零点</string>
							<key>type</key>
							<string>10</string>
						</dict>
						<dict>
							<key>id</key>
							<string>118896</string>
							<key>name</key>
							<string>函数零点的判定定理</string>
							<key>type</key>
							<string>10</string>
						</dict>
						<dict>
							<key>id</key>
							<string>118897</string>
							<key>name</key>
							<string>函数的零点与方程根的关系</string>
							<key>type</key>
							<string>10</string>
						</dict>
						<dict>
							<key>id</key>
							<string>118898</string>
							<key>name</key>
							<string>根的存在性及根的个数判断</string>
							<key>type</key>
							<string>10</string>
						</dict>
						<dict>
							<key>id</key>
							<string>118899</string>
							<key>name</key>
							<string>二分法定义</string>
							<key>type</key>
							<string>10</string>
						</dict>
						<dict>
							<key>id</key>
							<string>118900</string>
							<key>name</key>
							<string>二分法求方程的近似解</string>
							<key>type</key>
							<string>10</string>
						</dict>
						<dict>
							<key>id</key>
							<string>118901</string>
							<key>name</key>
							<string>函数与方程的综合应用</string>
							<key>type</key>
							<string>10</string>
						</dict>
					</array>
					<key>name</key>
					<string>函数与方程</string>
					<key>type</key>
					<string>2</string>
				</dict>
				<dict>
					<key>id</key>
					<string>104309</string>
					<key>knowledge</key>
					<array>
						<dict>
							<key>id</key>
							<string>118902</string>
							<key>name</key>
							<string>对数函数、指数函数与幂函数的增长差异</string>
							<key>type</key>
							<string>10</string>
						</dict>
						<dict>
							<key>id</key>
							<string>118903</string>
							<key>name</key>
							<string>对数函数、指数函数与幂函数的衰减差异</string>
							<key>type</key>
							<string>10</string>
						</dict>
						<dict>
							<key>id</key>
							<string>118904</string>
							<key>name</key>
							<string>函数最值的应用</string>
							<key>type</key>
							<string>10</string>
						</dict>
						<dict>
							<key>id</key>
							<string>118905</string>
							<key>name</key>
							<string>分段函数的应用</string>
							<key>type</key>
							<string>10</string>
						</dict>
						<dict>
							<key>id</key>
							<string>118906</string>
							<key>name</key>
							<string>根据实际问题选择函数类型</string>
							<key>type</key>
							<string>10</string>
						</dict>
						<dict>
							<key>id</key>
							<string>118907</string>
							<key>name</key>
							<string>函数模型的选择和应用</string>
							<key>type</key>
							<string>10</string>
						</dict>
					</array>
					<key>name</key>
					<string>函数模型及其应用</string>
					<key>type</key>
					<string>2</string>
				</dict>
				<dict>
					<key>id</key>
					<string>25123</string>
					<key>knowledge</key>
					<array>
						<dict>
							<key>id</key>
							<string>25124</string>
							<key>name</key>
							<string>变化的快慢与变化率</string>
							<key>type</key>
							<string>10</string>
						</dict>
						<dict>
							<key>id</key>
							<string>25125</string>
							<key>name</key>
							<string>导数的几何意义</string>
							<key>type</key>
							<string>10</string>
						</dict>
						<dict>
							<key>id</key>
							<string>25140</string>
							<key>name</key>
							<string>利用导数研究曲线上某点切线方程</string>
							<key>type</key>
							<string>10</string>
						</dict>
						<dict>
							<key>id</key>
							<string>25141</string>
							<key>name</key>
							<string>导数的概念</string>
							<key>type</key>
							<string>10</string>
						</dict>
						<dict>
							<key>id</key>
							<string>25126</string>
							<key>name</key>
							<string>导数的运算</string>
							<key>type</key>
							<string>10</string>
						</dict>
						<dict>
							<key>id</key>
							<string>25127</string>
							<key>name</key>
							<string>导数的加法与减法法则</string>
							<key>type</key>
							<string>10</string>
						</dict>
						<dict>
							<key>id</key>
							<string>25128</string>
							<key>name</key>
							<string>导数的乘法与除法法则</string>
							<key>type</key>
							<string>10</string>
						</dict>
						<dict>
							<key>id</key>
							<string>25129</string>
							<key>name</key>
							<string>简单复合函数的导数</string>
							<key>type</key>
							<string>10</string>
						</dict>
						<dict>
							<key>id</key>
							<string>25133</string>
							<key>name</key>
							<string>函数的单调性与导数的关系</string>
							<key>type</key>
							<string>10</string>
						</dict>
						<dict>
							<key>id</key>
							<string>25134</string>
							<key>name</key>
							<string>利用导数研究函数的单调性</string>
							<key>type</key>
							<string>10</string>
						</dict>
						<dict>
							<key>id</key>
							<string>25138</string>
							<key>name</key>
							<string>极值及其运算</string>
							<key>type</key>
							<string>10</string>
						</dict>
						<dict>
							<key>id</key>
							<string>25135</string>
							<key>name</key>
							<string>函数在某点取得极值的条件</string>
							<key>type</key>
							<string>10</string>
						</dict>
						<dict>
							<key>id</key>
							<string>25136</string>
							<key>name</key>
							<string>利用导数研究函数的极值</string>
							<key>type</key>
							<string>10</string>
						</dict>
						<dict>
							<key>id</key>
							<string>25137</string>
							<key>name</key>
							<string>利用导数求闭区间上函数的最值</string>
							<key>type</key>
							<string>10</string>
						</dict>
						<dict>
							<key>id</key>
							<string>25142</string>
							<key>name</key>
							<string>实际问题中导数的意义</string>
							<key>type</key>
							<string>10</string>
						</dict>
						<dict>
							<key>id</key>
							<string>25143</string>
							<key>name</key>
							<string>导数在最大值、最小值问题中的应用</string>
							<key>type</key>
							<string>10</string>
						</dict>
						<dict>
							<key>id</key>
							<string>25130</string>
							<key>name</key>
							<string>定积分</string>
							<key>type</key>
							<string>10</string>
						</dict>
						<dict>
							<key>id</key>
							<string>25131</string>
							<key>name</key>
							<string>微积分基本定理</string>
							<key>type</key>
							<string>10</string>
						</dict>
						<dict>
							<key>id</key>
							<string>118919</string>
							<key>name</key>
							<string>定积分的性质</string>
							<key>type</key>
							<string>10</string>
						</dict>
						<dict>
							<key>id</key>
							<string>25132</string>
							<key>name</key>
							<string>定积分的简单应用</string>
							<key>type</key>
							<string>10</string>
						</dict>
						<dict>
							<key>id</key>
							<string>25139</string>
							<key>name</key>
							<string>定积分在求面积中的应用</string>
							<key>type</key>
							<string>10</string>
						</dict>
						<dict>
							<key>id</key>
							<string>25144</string>
							<key>name</key>
							<string>定积分的背景</string>
							<key>type</key>
							<string>10</string>
						</dict>
						<dict>
							<key>id</key>
							<string>25145</string>
							<key>name</key>
							<string>用定积分求简单几何体的面积</string>
							<key>type</key>
							<string>10</string>
						</dict>
					</array>
					<key>name</key>
					<string>导数及其应用</string>
					<key>type</key>
					<string>2</string>
				</dict>
			</array>
			<key>type</key>
			<string>1</string>
		</dict>
		<dict>
			<key>id</key>
			<string>104318</string>
			<key>name</key>
			<string>数列</string>
			<key>second_category</key>
			<array>
				<dict>
					<key>id</key>
					<string>104319</string>
					<key>knowledge</key>
					<array>
						<dict>
							<key>id</key>
							<string>25168</string>
							<key>name</key>
							<string>数列的概念及简单表示法</string>
							<key>type</key>
							<string>10</string>
						</dict>
						<dict>
							<key>id</key>
							<string>25169</string>
							<key>name</key>
							<string>数列的函数特性</string>
							<key>type</key>
							<string>10</string>
						</dict>
					</array>
					<key>name</key>
					<string>数列的概念与简单表示法</string>
					<key>type</key>
					<string>2</string>
				</dict>
				<dict>
					<key>id</key>
					<string>104320</string>
					<key>knowledge</key>
					<array>
						<dict>
							<key>id</key>
							<string>25170</string>
							<key>name</key>
							<string>等差数列</string>
							<key>type</key>
							<string>10</string>
						</dict>
						<dict>
							<key>id</key>
							<string>25171</string>
							<key>name</key>
							<string>等差数列的通项公式</string>
							<key>type</key>
							<string>10</string>
						</dict>
						<dict>
							<key>id</key>
							<string>25172</string>
							<key>name</key>
							<string>等差数列的前n项和</string>
							<key>type</key>
							<string>10</string>
						</dict>
						<dict>
							<key>id</key>
							<string>25173</string>
							<key>name</key>
							<string>等差数列与一次函数的关系</string>
							<key>type</key>
							<string>10</string>
						</dict>
						<dict>
							<key>id</key>
							<string>25174</string>
							<key>name</key>
							<string>等比数列</string>
							<key>type</key>
							<string>10</string>
						</dict>
						<dict>
							<key>id</key>
							<string>25175</string>
							<key>name</key>
							<string>等比数列的通项公式</string>
							<key>type</key>
							<string>10</string>
						</dict>
						<dict>
							<key>id</key>
							<string>25176</string>
							<key>name</key>
							<string>等比数列的前n项和</string>
							<key>type</key>
							<string>10</string>
						</dict>
						<dict>
							<key>id</key>
							<string>25177</string>
							<key>name</key>
							<string>等比数列与指数函数的关系</string>
							<key>type</key>
							<string>10</string>
						</dict>
						<dict>
							<key>id</key>
							<string>25179</string>
							<key>name</key>
							<string>等差关系的确定</string>
							<key>type</key>
							<string>10</string>
						</dict>
						<dict>
							<key>id</key>
							<string>25180</string>
							<key>name</key>
							<string>等比关系的确定</string>
							<key>type</key>
							<string>10</string>
						</dict>
						<dict>
							<key>id</key>
							<string>25182</string>
							<key>name</key>
							<string>等差数列的性质</string>
							<key>type</key>
							<string>10</string>
						</dict>
						<dict>
							<key>id</key>
							<string>25183</string>
							<key>name</key>
							<string>等比数列的性质</string>
							<key>type</key>
							<string>10</string>
						</dict>
					</array>
					<key>name</key>
					<string>等差数列与等比数列</string>
					<key>type</key>
					<string>2</string>
				</dict>
				<dict>
					<key>id</key>
					<string>104321</string>
					<key>knowledge</key>
					<array>
						<dict>
							<key>id</key>
							<string>25184</string>
							<key>name</key>
							<string>数列递推式</string>
							<key>type</key>
							<string>10</string>
						</dict>
						<dict>
							<key>id</key>
							<string>25185</string>
							<key>name</key>
							<string>数列与函数的综合</string>
							<key>type</key>
							<string>10</string>
						</dict>
						<dict>
							<key>id</key>
							<string>25186</string>
							<key>name</key>
							<string>数列的极限</string>
							<key>type</key>
							<string>10</string>
						</dict>
						<dict>
							<key>id</key>
							<string>25187</string>
							<key>name</key>
							<string>数列与不等式的综合</string>
							<key>type</key>
							<string>10</string>
						</dict>
						<dict>
							<key>id</key>
							<string>25188</string>
							<key>name</key>
							<string>数列与向量的综合</string>
							<key>type</key>
							<string>10</string>
						</dict>
						<dict>
							<key>id</key>
							<string>25189</string>
							<key>name</key>
							<string>等差数列与等比数列的综合</string>
							<key>type</key>
							<string>10</string>
						</dict>
						<dict>
							<key>id</key>
							<string>25190</string>
							<key>name</key>
							<string>数列与三角函数的综合</string>
							<key>type</key>
							<string>10</string>
						</dict>
						<dict>
							<key>id</key>
							<string>25191</string>
							<key>name</key>
							<string>数列与解析几何的综合</string>
							<key>type</key>
							<string>10</string>
						</dict>
						<dict>
							<key>id</key>
							<string>25192</string>
							<key>name</key>
							<string>数列与立体几何的综合</string>
							<key>type</key>
							<string>10</string>
						</dict>
					</array>
					<key>name</key>
					<string>数列综合应用</string>
					<key>type</key>
					<string>2</string>
				</dict>
				<dict>
					<key>id</key>
					<string>104322</string>
					<key>knowledge</key>
					<array>
						<dict>
							<key>id</key>
							<string>96164</string>
							<key>name</key>
							<string>数列的通项公式和递推公式</string>
							<key>type</key>
							<string>10</string>
						</dict>
					</array>
					<key>name</key>
					<string>数列的通项公式</string>
					<key>type</key>
					<string>2</string>
				</dict>
				<dict>
					<key>id</key>
					<string>104323</string>
					<key>knowledge</key>
					<array>
						<dict>
							<key>id</key>
							<string>118884</string>
							<key>name</key>
							<string>数列求和的方法</string>
							<key>type</key>
							<string>10</string>
						</dict>
					</array>
					<key>name</key>
					<string>数列求和</string>
					<key>type</key>
					<string>2</string>
				</dict>
			</array>
			<key>type</key>
			<string>1</string>
		</dict>
	</array>
	<key>errcode</key>
	<string>200</string>
	<key>errmsg</key>
	<string>success</string>
	<key>errtime</key>
	<string>1509417770</string>
	<key>syllabus_id</key>
	<string>485</string>
</dict>
</plist>
